<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953474036389-qthpalilhbas8a5174k3vl5qba62c6q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953474036389-qthpalilhbas8a5174k3vl5qba62c6q1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953474036389-dinagip1qc2863j97b4a911rccfn03ae.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDp0KKYPI4fmqHYIP4JyaPDvAxWyj5z0Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>953474036389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meet-me</string>
	<key>PROJECT_ID</key>
	<string>meetme-52a44</string>
	<key>STORAGE_BUCKET</key>
	<string>meetme-52a44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953474036389:ios:55283d4bd6cec24ef7534c</string>
	<key>DATABASE_URL</key>
	<string>https://meetme-52a44.firebaseio.com</string>
</dict>
</plist>